<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_4"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".NewAddBrandActivity"
            android:exported="false" />
        <activity
            android:name=".BrandAddActivity"
            android:exported="false"
            android:label="@string/title_activity_brand_add"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".ShoeArModeActivity"
            android:exported="false" />
        <activity
            android:name=".ARCameraActivity"
            android:exported="false"
            android:label="@string/title_activity_arcamera"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".ShoeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ShoeListAdActivity"
            android:exported="false" />
        <activity
            android:name=".AllShoesListAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ShoeAddActivity"
            android:exported="false" />
        <activity
            android:name=".PictureAddActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryAddActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardAdminActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardUserActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>